<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/supermain1.css' %}">
    <title>Title</title>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand btn-lg" href="#">Navbar</a>
    <button class="navbar-toggler btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'main_app:supermain' %}">Главная</a>
        </li>
	      {% if user.is_authenticated %}
	      <li class="nav-item">
          <a class="nav-link" href="{% url 'main_app:product_form' %}">Создать продукт</a>
        </li>
	      {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
	      {% if user.is_authenticated %}
	      <form action="{% url 'accounts:logout' %}" method="GET">
		      <input type="hidden" name="url_logout" value="{{ request.path }}">
	          <input class="nav-link" type="submit" value="Выйти"><br>
	      </form>
	      {% else %}
	      <form action="{% url 'accounts:login' %}" method="GET">
		      <input type="hidden" name="next" value="{{ request.path }}">
	          <input type="submit" value="Войти"><br>
	      </form>
	      {% endif %}
      </ul>
	    {% block button %} {% endblock button %}
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<!-- The sidebar -->
<div class="sidebar">
    {% for category in categories %}
  <a href="{% url 'main_app:supermain1' category.id %}">{{ category.category_name }}</a>
    {% endfor %}
</div>



<!-- Page content -->

<div class="content">
	{% block content %}
    <div class="card-group card mb-3" style="row row-cols-1 row-cols-md-3 g-4">
    {% for product in object_list %}
        <div class="col-2">
             <div class="card h-100">
	             <a href="{% url 'main_app:productdetail' product.pk %}"><img src="{{ product.product_image.url }}"
	                                                               class="card-img-top" style="width:276px;"
	                                                       alt="..."></a>
                  <div class="card-body">
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    <p class="card-text">{{ product.product_price }}</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
             </div>
        </div>
    {% endfor %}
    </div>
	{% endblock content %}
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</html>